.viewMore {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 30px;
}

.viewMore__button {
    width: 150px;
    background-color: #ff4545 !important;
    border: 1px solid !important;
    color: white !important;
    font-weight: 500 !important;
    font-size: 0.6rem !important;
    padding: 10px !important;
    transition: all .3s ease !important;
}

.viewMore__button:hover {
    background: black !important;
}