.checkoutHeader {
    height: 25vh;
    min-height: max-content;
    width: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/bg-breadcrumb-1.jpg');
    background-attachment: fixed;
    background-position: center;
}

.checkoutHeader__cont {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.checkoutHeader__title {
    font-size: 3.7rem;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
}

.checkoutHeader__links {
<<<<<<< HEAD
    height: 30px;
    width: 21%;
=======
    width: max-content;
>>>>>>> 9716151989078967d3292c775c0f6ae8fe33ce01
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between
<<<<<<< HEAD
    
=======
>>>>>>> 9716151989078967d3292c775c0f6ae8fe33ce01
}

.checkoutHeader__link {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

<<<<<<< HEAD
.checkoutHeader__arrow {
    font-size: 1.1rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: max-content !important;
    margin: 0 7px !important;
}

=======
>>>>>>> 9716151989078967d3292c775c0f6ae8fe33ce01
@media screen and (max-width: 464px) {
    .checkoutHeader__title {
        font-size: 2.8rem;
    }
}
<<<<<<< HEAD

=======
>>>>>>> 9716151989078967d3292c775c0f6ae8fe33ce01
